/*Define color palate for app*/
:root {
    --background: black;
    --font: white;
    --accent: #FF9100;
    --disable: grey;
}

/*remove all padding and margin from everything*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*set html and body to full size and set Quicksand as main font*/
html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--font);
    font-family: 'Quicksand', sans-serif;
}

/*set background div to full size*/
#background {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}
/*set container class to full size with position absolute so it will be above #background*/
.container {
    
}

.top-left {
    
}

.top-right {
    
}

.bottom-left {
    
}

.bottom-right {
    
}

/*define text sizes*/
h1 {
    
}

h2 {
    
}

p {
    
}

a {
    
}

span {
    
}

.material-icons-round {
    
}

/*button styling*/
button {
    
}

button:hover {
    
}

button:disabled > * {
    
}

/*input stying*/
input {
    
}

input::placeholder {
    
}
